---
import FooterContact from './footer-contact.astro';
import Text from 'src/components/typography/text.astro';
import regions from 'src/../data/tour_regions.json';

import NavigationData from 'src/../data/navigation.json';
import { t } from 'utils/i18n';
import { getCollection } from 'astro:content';
import { getPagePath, getTourRegionsPath } from 'utils/permalinks';
import Stack from 'src/components/stack/stack.astro';
import type { LanguageCodes } from 'src/schemas/language';
import ResponsiveImage from 'src/components/responsive-image/ResponsiveImage.astro';
import Icon from 'src/components/utility/icon.astro';

// function getBaseLocaleBaseUrl(
//   language: LanguageCodes | string | undefined = 'en'
// ): string {
//   if (language === 'en') {
//     return '/';
//   }

//   return `/${language}/`;
// }

type Props = {
  language: LanguageCodes;
};

const { language } = Astro.props;
const { footer } = NavigationData[language];
const { links } = footer;
const year = new Date().getFullYear();

const pageCollection = await getCollection('pages');
// console.log(pageCollection);
// console.log(pageCollection.length);

const termsPage = pageCollection.filter(
  (p) =>
    p.filePath?.endsWith('terms-and-conditions.md') &&
    (p.data.language ?? 'en') === (Astro.currentLocale ?? 'en')
)[0];
const privacyPage = pageCollection.filter(
  (p) =>
    p.filePath?.endsWith('privacy-policy.md') &&
    (p.data.language ?? 'en') === (Astro.currentLocale ?? 'en')
)[0];

const privacyPagePath = privacyPage ? getPagePath(privacyPage) : '';

const termsPagePagePath = termsPage ? getPagePath(termsPage) : '';
---

<footer
  class="grid grid-cols-1 gap-8 bg-gray-100 p-10 text-gray-600 dark:bg-gray-950 dark:text-gray-400 sm:grid-cols-3"
>
  <div class="flex flex-col gap-5">
    <!-- <Logo class="max-h-12" /> -->
    <div class="flex justify-evenly gap-2">
      {
        links.map(({ text, links = [] }) => (
          <div class="flex w-full flex-col gap-1">
            <h4 class="w-full text-xl font-bold">{text}</h4>
            {links.map(({ link, text }) => (
              <a class="text-lg" href={link.toLowerCase()}>
                {text}
              </a>
            ))}
          </div>
        ))
      }
    </div>
    <div class="flex flex-col gap-2">
      <span class="text-sm font-bold">{t('Footer.PaymentTitle')}</span>
      <span class="text-xs">{t('Footer.PaymentDescription')}</span>
      <div class="flex gap-2">
        <Icon icon="logos:mastercard" /><Icon icon="logos:visa" /><Icon
          icon="logos:amex"
        /><Icon icon="logos:jcb" />
      </div>
    </div>
  </div>

  <div class="grid grid-cols-4 gap-4 self-start sm:grid-cols-3">
    <Text as="strong" class="col-span-full" size="xlarge" weight="bold"
      >{t('Footer.TourRegionsTitle')}</Text
    >
    {
      regions.map((region) => {
        const { src, title, name } = region[language];
        return (
          <div class="group relative cursor-pointer overflow-clip">
            <ResponsiveImage
              src={src}
              alt={title}
              widths={[200]}
              paralax={false}
              class="animate-ease-in-out-out animate-duration-200 transition-transform group-hover:scale-150"
            />
            <a
              href={getTourRegionsPath(
                name,
                Astro.currentLocale as LanguageCodes
              )}
              class="absolute bottom-0 left-0 right-0 top-0 hidden h-full w-full items-center justify-center text-center text-xl font-bold capitalize text-white opacity-0 group-hover:flex group-hover:opacity-90"
            >
              {name}
            </a>
          </div>
        );
      })
    }
  </div>
  <Stack layout="vertical" spacing="small">
    <FooterContact language={language} />
  </Stack>
</footer>
<ul
  class="flex w-full flex-wrap justify-center gap-1 bg-gray-50 p-3 dark:bg-gray-800 dark:text-gray-400"
>
  <li>
    @Top Walking Tours Portugal {year}
  </li>
  <li aria-hidden="true">-</li>
  <li>
    <a href={termsPagePagePath} rel="nofollow">{t('TermsAndConditions')}</a>
  </li>
  <li aria-hidden="true">-</li>
  <li>
    <a href={privacyPagePath} rel="nofollow">{t('PrivacyPolicy')}</a>
  </li>
</ul>
