---
import { getCollection } from 'astro:content';
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';
import type { VisuallyEditable } from 'src/types';
import { getBlogPermalink, getBlogTagPath } from 'utils/permalinks';
import type { LanguageCodes } from 'src/schemas/language';
import type { FeaturedPost } from 'src/content/config';

type Props = FeaturedPost & VisuallyEditable;

const block = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/**/*.{jpeg,jpg,png,gif}',
  { eager: true }
);
const allPosts = (await getCollection('blog')).filter(
  (post) =>
    block.main_feature === post.data.id ||
    block.feature_list?.includes(post.data.id)
);
const dateTimeFormatter = new Intl.DateTimeFormat('en-US', {
  dateStyle: 'long',
  timeZone: 'America/Chicago'
});
const language = (Astro.currentLocale ?? 'en') as LanguageCodes;
---

<section class="flex flex-col gap-6 py-[48px] lg:flex-row">
  {
    allPosts
      .filter(
        (post) =>
          block.main_feature === post.data.id && post.data.language === language
      )
      .map((post) => {
        const featuredPostURL = getBlogPermalink(post);
        const date = new Date(post.data.date);
        const formattedDate = dateTimeFormatter.format(date);
        const imageSrc =
          images[post.data.thumb_image_path]?.default ??
          post.data.thumb_image_path;
        const tags = post.data.tags;

        return (
          <div class="lg:w-3/4">
            <a href={featuredPostURL}>
              <Image
                class="aspect-video w-full rounded-sm object-cover"
                alt={post.data.thumb_image_alt ?? 'Top Bike Tours Portugal'}
                widths={[320, 500, 640, 960, 1280]}
                sizes={`(max-width: 320px) 320px, (max-width: 500px) 500px, (max-width: 640px) 640px, (max-width: 960px) 960px, 1280px`}
                src={imageSrc}
              />
            </a>
            {tags ? (
              <div class="flex flex-col gap-3 pt-3 sm:flex-row">
                {tags.map((tag: string) => {
                  return (
                    <a href={getBlogTagPath(tag, language)}>
                      <span class="rounded-sm bg-slate-200 px-2 py-1 dark:bg-slate-800">
                        {tag.charAt(0).toUpperCase() + tag.slice(1)}
                      </span>
                    </a>
                  );
                })}
              </div>
            ) : (
              ''
            )}
            <a href={featuredPostURL}>
              <h3 class="py-2 text-3xl font-semibold">{post.data.title}</h3>
            </a>
            <p>{formattedDate}</p>
          </div>
        );
      })
  }
  <div
    class="non-featured-posts flex flex-col gap-3 md:flex-row lg:w-1/4 lg:flex-col"
  >
    {
      allPosts
        .filter(
          (post) =>
            block.feature_list?.includes(post.data.id) &&
            post.data.language === language
        )
        .map((post) => {
          const featuredPostURL = getBlogPermalink(post);
          const date = new Date(post.data.date);
          const formattedDate = dateTimeFormatter.format(date);
          const imageSrc =
            images[post.data.thumb_image_path]?.default ??
            post.data.thumb_image_path;
          const tags = post.data.tags;

          return (
            <div>
              <a href={featuredPostURL}>
                <Image
                  class="aspect-video w-full rounded-sm object-cover"
                  alt={
                    post.data.thumb_image_alt ??
                    'Top Bike Tours Portugal thumb_image_alt'
                  }
                  widths={[320, 500, 640]}
                  sizes={`(max-width: 320px) 320px, (max-width: 500px) 500px, 640px`}
                  src={imageSrc}
                />
              </a>
              <div>
                {tags ? (
                  <div class="flex flex-col gap-3 pt-3 sm:flex-row">
                    {tags.map((tag: string) => {
                      return (
                        <a href={getBlogTagPath(tag, language)}>
                          <span class="rounded-sm bg-slate-200 px-2 py-1 dark:bg-slate-800">
                            {tag.charAt(0).toUpperCase() + tag.slice(1)}
                          </span>
                        </a>
                      );
                    })}
                  </div>
                ) : (
                  ''
                )}
                <a href={featuredPostURL}>
                  <h3 class="py-1 text-2xl font-semibold">{post.data.title}</h3>
                </a>
                <p>{formattedDate}</p>
              </div>
            </div>
          );
        })
    }
  </div>
</section>

<style>
  section {
    max-width: var(--pageContainer);
    margin-inline: auto;
    padding-inline: var(--pagePadding);
    padding-block: 24px;
  }

  .non-featured-posts {
    padding-inline: var(--pagePadding);
    margin-inline: auto;
  }
</style>
