---
import { getCollection } from 'astro:content';
import slugify from 'slugify';
import type { SEOProps } from 'astro-seo';
import Layout from 'src/layouts/Layout.astro';
import RegionsData from 'src/../data/tour_regions.json';
import TourList from 'src/components/tours/tour-list.astro';
import { trailingSlash } from 'utils/permalinks';
export async function getStaticPaths() {
  const tours = (await getCollection('tours')).filter(
    (t) => t.data.language === 'pt'
  );

  return RegionsData.map((region) => ({
    params: {
      region:
        slugify(region.pt.name!, {
          lower: true,
          strict: true,
          trim: true
        }) + trailingSlash
    },
    props: {
      regionData: region,
      tours:
        tours.filter(
          (tour) => parseInt(tour.data.region + '', 10) === region.id
        ) ?? []
    }
  }));
}
const { tours, regionData } = Astro.props;

const frontmatter = {
  title: 'Tours - Top Bike Tours Portugal',
  page_size: 6,
  seo: undefined
} satisfies {
  title: string;
  page_size?: number;
  seo?: SEOProps;
};
---

<Layout
  class="mb-16 px-8"
  {...frontmatter}
  title={`Tours por região  ${regionData.pt.name}`}
>
  <h1>Tours por região {regionData.pt.name}</h1>
  {
    tours.length == 0 ? (
      <div class="flex flex-col">
        <div>No tours yet for region {regionData.pt.name}</div>
        <div>Could try other region</div>
        <div>
          {RegionsData.filter((r) => r.id !== regionData.id).map((r) => (
            <div>{r.pt.name}</div>
          ))}
        </div>
      </div>
    ) : null
  }
  <TourList items={tours} language="pt" />
</Layout>
