---
/** @jsxImportSource astro */
import { Image } from 'astro:assets';
import Rating from 'src/components/rating/rating.astro';
import Icon from 'src/components/utility/icon.astro';
import { getImageByPath } from 'utils/get-image';
import defaultImage from 'src/assets/images/team/sergio-marques.jpg';

type Props = {
  name?: string;
  country?: string;
  content: string;
  rating: number;
  photo?: string;
};

const { name, country, content, rating, photo } = Astro.props;
const imageOptimized = photo
  ? (getImageByPath(photo) satisfies Promise<{
      default: ImageMetadata;
    }>)
  : defaultImage;
---

<div class="max-w-56 flex flex-col gap-4">
  <div class="flex justify-center">
    <Image
      src={imageOptimized}
      widths={[320, 500, 640]}
      sizes={`(max-width: 640px) 320px, (max-width: 960px) 500px, 640px`}
      fetchpriority="auto"
      decoding="async"
      loading="lazy"
      alt={name ?? country ?? 'review image'}
      class="w-32 rounded-[100%] shadow-lg dark:shadow-black/30"
    />
  </div>
  <h5 class="text-xl font-semibold">{name}-{country}</h5>
  <span class="inline text-neutral-600 dark:text-neutral-300">
    <Icon icon="ph:quotes-fill" />
    {content}
  </span>
  <Rating rating={rating} />
</div>
