---
import type { LanguageCodes } from 'src/schemas/language';
import { getBlogPagePath } from 'utils/permalinks';
import Icon from '../utility/icon.astro';
import { tv } from 'tailwind-variants';
import { cn } from 'utils/cn';

export interface Pagination {
  currentPage: number;
  lastPage: number;
  url: {
    next?: string;
    prev?: string;
  };
}

interface Props {
  pagination: Pagination;
}

const { pagination } = Astro.props;
const {
  currentPage,
  lastPage,
  url: { next, prev }
} = pagination;

const language = (Astro.currentLocale ?? 'en') as LanguageCodes;

// Generate page links array
const pageLinks = Array.from({ length: lastPage }, (_, i) => i + 1);

const pager = tv({
  base: '',
  variants: {
    disabled: {
      true: {
        link: 'pointer-events-none',
        item: ''
      },
      false: { link: '' }
    },
    active: {
      true: {
        link: 'z-3 border-gray-400/20 text-blue-600 dark:border-gray-500/30 dark:text-blue-500'
      },
      false: { link: '' }
    }
  },
  slots: {
    container: 'flex list-none pt-8',
    item: 'flex border border-r-0 border-solid border-gray-400/20 bg-white hover:border-gray-600/20 dark:border-gray-500/30 dark:bg-gray-900 dark:hover:border-gray-400/30',
    link: 'flex h-8 w-8 min-w-full items-center justify-center text-xs text-gray-700 transition-all duration-200 ease-in-out hover:text-blue-600 focus:text-blue-600 dark:text-gray-300 dark:hover:text-blue-500 dark:focus:text-blue-500',
    icon: 'h-4 w-4'
  },
  compoundVariants: [
    {
      disabled: true,
      className: {
        item: 'border-gray-400/20 bg-slate-200 text-gray-400 hover:border-gray-400/20 hover:text-gray-400 focus:text-gray-400 dark:border-gray-500/30 dark:bg-gray-800 dark:text-gray-600',
        link: 'border-gray-400/20 bg-slate-200 text-gray-400 hover:border-gray-400/20 hover:text-gray-400 focus:text-gray-400 dark:border-gray-500/30 dark:bg-gray-800 dark:text-gray-600'
      }
    }
  ],
  defaultVariants: {
    disabled: false,
    selected: false // Note: 'selected' isn't used in variants; did you mean 'active'?
  }
});
const { link, container, item, icon } = pager();
---

{
  lastPage !== 1 && (
    <nav class="blog-pagination" aria-label="pagination">
      <ul class={cn('pagination', container())}>
        <li class={cn('page-item rounded-bl-md rounded-tl-md', item())}>
          <a
            class={cn(
              link({ disabled: currentPage === 1 }),
              'page-link rounded-bl-md rounded-tl-md'
            )}
            href={prev}
            aria-disabled={currentPage === 1}
          >
            <Icon icon="ArrowLeft" className={icon()} />
          </a>
        </li>

        {pageLinks.map((pageNum) => (
          <li class={cn('page-item', item())}>
            <a
              class={cn('page-link', link({ active: pageNum === currentPage }))}
              href={getBlogPagePath(pageNum, language, Astro.site)}
            >
              {pageNum}
            </a>
          </li>
        ))}

        <li
          class={cn(item(), 'page-item border-r-1 rounded-br-md rounded-tr-md')}
        >
          <a
            class={cn(
              link({ disabled: pageLinks.length - 1 === currentPage }),
              'page-link border-r-1 rounded-br-md rounded-tr-md'
            )}
            href={next}
            aria-disabled={pageLinks.length - 1 === currentPage}
          >
            <Icon icon="ArrowRight" className={icon()} />
          </a>
        </li>
      </ul>
    </nav>
  )
}
