---
import Languages from 'src/../data/languages.json';
import Icon from 'src/components/utility/icon';

export type LanguageMenuItem = {
  code: string;
  displayName: string;
  path: string;
  icon: string;
};

type Props = { localizedUrls?: ReadonlyArray<LanguageMenuItem> };

const languages = Object.values(Languages).map(
  ({ code, display, icon, isDefault }) =>
    ({
      code,
      displayName: display,
      icon,
      path: isDefault ? '/' : `/${code}`
    }) satisfies LanguageMenuItem
);

const { localizedUrls = languages } = Astro.props;
---

<div class="flex flex-row gap-4 text-2xl">
  {
    localizedUrls
      .filter(({ icon }) => !!icon)
      .map(({ code, displayName, icon, path }) => (
        <a
          href={path}
          title={displayName}
          hreflang={code}
          class="transition-transform duration-150 hover:scale-125"
        >
          <Icon title={displayName} icon={icon} />
        </a>
      ))
  }
</div>
