---
import Languages from 'src/../data/languages.json';
import Icon from '~/components/utility/Icon.tsx';

export type LanguageMenuItem = {
  code: string;
  displayName: string;
  path: string;
  icon: string;
};

type Props = { localizedUrls?: ReadonlyArray<LanguageMenuItem> };

const languages = Object.values(Languages).map(
  ({ code, display, icon, isDefault }) =>
    ({
      code,
      displayName: display,
      icon,
      path: isDefault ? '/' : `/${code}`
    }) satisfies LanguageMenuItem
);

const { localizedUrls = languages } = Astro.props;
---

<div class="flex flex-row gap-4 text-2xl">
  {
    localizedUrls
      .filter(({ icon }) => !!icon)
      .map(({ code, displayName, icon, path }) => (
        <a href={path} title={displayName} hreflang={code} class="group">
          <Icon
            title={displayName}
            icon={icon}
            class="bg-opacity-100 fill-black text-white text-opacity-100 opacity-100 transition-transform duration-150 group-hover:scale-125"
          />
        </a>
      ))
  }
</div>
