---
import Icon from 'src/components/utility/Icon.tsx';
import social from 'src/../data/social.json';
// interface Props {
//   language: "en" | "pt";
// }

const { language } = Astro.props;
const network = social as Record<string, any>;
const keys = Object.keys(network);
const socialNetworks = keys.map((k) => network[k]).filter((n) => n !== null);
---

<div class="flex flex-row gap-4 text-white">
  {
    socialNetworks.map((network) => {
      return (
        <a
          hreflang={language}
          href={network.href}
          title={network.alt}
          rel="nofollow"
          target="_blank"
          class="min-w-6 group flex items-center justify-center text-lg"
        >
          {network && network.icon && (
            <Icon
              title={network.alt}
              icon={network.icon}
              class="transition-transform duration-75 ease-in-out group-hover:scale-150"
            />
          )}
        </a>
      );
    })
  }
</div>
