---
import { getCollection } from 'astro:content';
import regions from 'src/../data/tour-regions.json';
import slugify from 'slugify';
import TourList from 'src/components/tours/tour-list.astro';
import Layout from 'src/layouts/Layout.astro';
import type { SEOProps } from 'astro-seo';

export async function getStaticPaths() {
  const tours = await getCollection('tours');

  return regions.map((region) => ({
    params: {
      region: slugify(region.en.name!).toLocaleLowerCase(),
      languge: 'en'
    },
    props: {
      region: slugify(region.en.name!).toLocaleLowerCase(),
      tours:
        tours.filter(
          (tour) =>
            tour.data.region?.toLowerCase() === region.en.name.toLowerCase()
        ) ?? []
    }
  }));
}
const { region, tours } = Astro.props;

const frontmatter = {
  title: 'Tours - Top Bike Tours Portugal',
  page_size: 6,
  seo: undefined
} satisfies {
  title: string;
  page_size?: number;
  seo?: SEOProps;
};
---

<Layout
  class="mb-16 px-8"
  {...frontmatter}
  title={`Tour list region ${region}`}
>
  <h1>Tour list region {region}</h1>
  {
    tours.length == 0 ? (
      <div class="flex flex-col">
        <div>No tours yet for region {region}</div>
        <div>Could try other region</div>
        <div>
          {regions
            .filter((r) => r.en.name !== region)
            .map((r) => (
              <div>{r.en.name}</div>
            ))}
        </div>
      </div>
    ) : null
  }
  <TourList items={tours} language="en" />
</Layout>
