---
import PageLayout from 'src/layouts/Page.astro';
import { getCollection } from 'astro:content';
import slugify from 'slugify';
import type { SEOProps } from 'astro-seo';
import TourList from 'src/components/tours/tour-list.astro';
import { trailingSlash } from 'utils/permalinks';

export async function getStaticPaths({ paginate: _ }: { paginate: Function }) {
  const tours = (await getCollection('tours')).filter(
    (t) => t.data.language === 'pt'
  );

  const tags = [
    ...new Set<string>(tours.flatMap((tour) => tour.data.tags ?? []))
  ];
  return tags
    .filter((t) => t?.length > 0)
    .map((tag) => ({
      params: {
        // language: 'pt',
        tag:
          slugify(tag, { lower: true, strict: true, trim: true }) +
          trailingSlash
      },
      props: {
        tag: tag,
        tours: tours.filter(
          (tour) =>
            tour.data.language === 'pt' &&
            (tour.data.tags ?? [])
              ?.map((t) => t.toLocaleLowerCase())
              ?.includes(tag.toLocaleLowerCase())
        )
      }
    }));
}

const { tours, tag } = Astro.props;

const frontmatter = {
  title: `Tours ${tag}  - Top Bike Tours Portugal`,
  page_size: 6
} satisfies {
  title: string;
  page_size?: number;
  seo?: SEOProps;
};
---

<PageLayout frontmatter={frontmatter} class="px-10">
  <h1>Tour list tag {tag}</h1>
  {
    tours.length == 0 ? (
      <div class="flex flex-col">
        <div>No tours yet for tag `{tag}</div>
        <div>Could try other tags</div>
      </div>
    ) : null
  }
  <TourList items={tours} language="en" />
  <!-- <BlogPagination pagination={pagination} language={Astro.currentLocale as LanguageCodes} /> -->
</PageLayout>

<style>
  .blog-index {
    max-width: var(--pageContainer);
  }
</style>
