---
import '../styles/main.css';
import SiteData from '../../data/site.json';
import { SEO } from 'astro-seo';
import { ClientRouter } from 'astro:transitions';
import Analytics from './common/Analytics.astro';
import SiteVerification from './common/SiteVerification.astro';
import Favicons from './common/Favicons.astro';
import CommonMeta from './common/CommonMeta.astro';
import Navigation from 'src/../data/navigation.json';
import type { LanguageCodes } from 'src/schemas/language';
import Announcement from './common/Announcement.astro';
import Header from './common/Header.astro';
import ScrollTop from './common/ScrollTop.astro';
import BasicScripts from './common/BasicScripts.astro';
import CookieConsent from './common/CookieConsent.astro';
import Footer from './common/Footer';

export interface SEOProps {
  page_description: string | null;
  featured_image: string | null;
  featured_image_alt: string | null;
  canonical_url: string | null;
  no_index: boolean | null;
  open_graph_type: string | null;
  author_twitter_handle: string | null;
}

export interface Props {
  title: string;
  seo?: SEOProps;
  class?: string;
}

const language = (Astro.currentLocale ?? 'en') as LanguageCodes;
const site = SiteData[language];
const { seo } = Astro.props;
const baseUrl = Astro.site ?? import.meta.env.BASE_URL;
const title = Astro.props.title
  ? `${Astro.props.title} | ${site.site_title}`
  : site.site_title;
const description = seo?.page_description ?? site.description;
const image = seo?.featured_image ?? site.image.src;
const image_alt = seo?.featured_image_alt ?? site.image.alt;
const canonicalURL = seo?.canonical_url
  ? new URL(seo?.canonical_url, baseUrl)
  : undefined;
---

<!doctype html>
<html
  lang={language}
  dir="ltr"
  class="scroll-mt-32 scroll-pt-32 will-change-scroll motion-safe:scroll-smooth"
  x-data="{
      darkMode: localStorage.getItem('darkMode')
      || localStorage.setItem('darkMode', 'system')}"
  x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"
  x-bind:class="{'dark': darkMode === 'dark' || (darkMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)}"
>
  <head>
    <CommonMeta />
    <Favicons />
    <SiteVerification />
    <Analytics />
    <ClientRouter fallback="swap" />
    <SEO
      noindex={seo?.no_index || false}
      title={title}
      description={description}
      canonical={canonicalURL}
      openGraph={{
        basic: {
          title: Astro.props.title,
          url:
            baseUrl !== null &&
            baseUrl !== undefined &&
            baseUrl?.toString().length > 0
              ? baseUrl?.toString()
              : import.meta.env.BASE_URL,
          type: `${seo?.open_graph_type || 'website'}`,
          image: `${baseUrl}${image}`
        },
        optional: {
          description: description
        },
        image: {
          url: `${baseUrl}${image}`,
          alt: image_alt
        }
      }}
      twitter={{
        creator: `${seo?.author_twitter_handle || site.twitter_site}`,
        site: `${site.twitter_site}`,
        card: 'summary_large_image'
      }}
    />
  </head>
  <body
    class="text-default flex min-h-screen flex-col overflow-y-scroll tracking-tight antialiased dark:bg-slate-900 dark:text-white"
  >
    <BasicScripts />
    <slot name="announcement">
      <Announcement language={language} />
    </slot>
    <Header {...Navigation[language].header} isSticky showRssFeed />
    <main class="h-full flex-1">
      <slot />
    </main>
    <Footer language={language} />
    <ScrollTop />
    <CookieConsent />
    <style is:global>
      :root {
        --pageContainer: 1280px;
        --pagePadding: 2rem;
      }
    </style>
  </body>
</html>
