---
import type { IconNames } from 'src/types';
import { cn } from 'utils/cn';
// import PhLanguageLightIcon from 'src/assets/icons/ph/light/language-light.svg';
// import PhWheatLightIcon from 'src/assets/icons/ph/light/wheat-light.svg';
// import PhAppleLightIcon from 'src/assets/icons/ph/light/apple-light.svg';
// import PhBowlRiceLightIcon from 'src/assets/icons/ph/light/bowl-rice-light.svg';
import MastercardLogo from 'src/assets/icons/logos/mastercard.svg';
import VisaLogo from 'src/assets/icons/logos/visa.svg';
import AmexLogo from 'src/assets/icons/logos/amex.svg';
import JCBLogo from 'src/assets/icons/logos/jcb.svg';
import FaTripadvisor from 'src/assets/icons/fa/tripadvisor.svg';
import PhCompassFillIcon from 'src/assets/icons/ph/fill/compass-fill.svg';
import PhRssLightIcon from 'src/assets/icons/ph/light/rss-light.svg';
import PhSunLightIcon from 'src/assets/icons/ph/light/sun-light.svg';
import PhMoonLightIcon from 'src/assets/icons/ph/light/moon-light.svg';
import PhStarFillIcon from 'src/assets/icons/ph/fill/star-fill.svg';
import PhStarLightIcon from 'src/assets/icons/ph/light/star-light.svg';
import PhStarHalfFillIcon from 'src/assets/icons/ph/fill/star-half-fill.svg';
import PhEnvelopeSimpleLightIcon from 'src/assets/icons/ph/light/envelope-simple-light.svg';
import PhUserLightIcon from 'src/assets/icons/ph/light/user-light.svg';
import PhBreadSliceLightIcon from 'src/assets/icons/ph/light/bread-light.svg';
import PhMugLightIcon from 'src/assets/icons/ph/light/coffee-light.svg';
import PhEggLightIcon from 'src/assets/icons/ph/light/egg-light.svg';
import PhUtensilsLightIcon from 'src/assets/icons/ph/light/fork-knife-light.svg';
import PhPersonSimpleWalkLight from 'src/assets/icons/ph/light/person-simple-walk-light.svg';
import PhCarrotLightIcon from 'src/assets/icons/ph/light/carrot-light.svg';
import PhBurgerLightIcon from 'src/assets/icons/ph/light/hamburger-light.svg';
import PhFishLightIcon from 'src/assets/icons/ph/light/fish-simple-light.svg';
import PhSeedlingLightIcon from 'src/assets/icons/ph/light/plant-light.svg';
import PhPlateLightIcon from 'src/assets/icons/ph/light/bowl-food-light.svg';
import PhPizzaLightIcon from 'src/assets/icons/ph/light/pizza-light.svg';
import PhPepperLightIcon from 'src/assets/icons/ph/light/pepper-light.svg';
import PhChampagneLightIcon from 'src/assets/icons/ph/light/wine-light.svg';
import PhCheckLightIcon from 'src/assets/icons/ph/light/check-light.svg';
import PhCheckCircleFillIcon from 'src/assets/icons/ph/fill/check-circle-fill.svg';
import PhXCircleFillIcon from 'src/assets/icons/ph/fill/x-circle-fill.svg';
import PhArrowRightLightIcon from 'src/assets/icons/ph/light/arrow-right-light.svg';
import PhArrowLeftLightIcon from 'src/assets/icons/ph/light/arrow-left-light.svg';
import PhArrowDownLightIcon from 'src/assets/icons/ph/light/arrow-down-light.svg';
import PhArrowUpLightIcon from 'src/assets/icons/ph/light/arrow-up-light.svg';
import PhCaretLeftLightIcon from 'src/assets/icons/ph/light/caret-left-light.svg';
import PhCaretRightLightIcon from 'src/assets/icons/ph/light/caret-right-light.svg';
import PhCaretDownLightIcon from 'src/assets/icons/ph/light/caret-down-light.svg';
import PhCaretUpLightIcon from 'src/assets/icons/ph/light/caret-up-light.svg';
import PhPaperPlaneLightIcon from 'src/assets/icons/ph/light/paper-plane-light.svg';
import PhCartShoppingLightIcon from 'src/assets/icons/ph/light/shopping-cart-light.svg';
import PhShopLightIcon from 'src/assets/icons/ph/light/storefront-light.svg';
import PhBagShoppingLightIcon from 'src/assets/icons/ph/light/shopping-bag-light.svg';
import PhCreditCardLightIcon from 'src/assets/icons/ph/light/credit-card-light.svg';
import PhStoreLightIcon from 'src/assets/icons/ph/light/storefront-light.svg';
import PhShopLockLightIcon from 'src/assets/icons/ph/light/lock-light.svg';
import PhCarLightIcon from 'src/assets/icons/ph/light/car-light.svg';
import PhCircleHalfFillIcon from 'src/assets/icons/ph/fill/circle-half-fill.svg';
import PhLocationDotLightIcon from 'src/assets/icons/ph/light/map-pin-light.svg';
import PhLocationPinLightIcon from 'src/assets/icons/ph/light/map-pin-line-light.svg';
import PhLocationCrosshairsLightIcon from 'src/assets/icons/ph/light/crosshair-light.svg';
import PhGiftLightIcon from 'src/assets/icons/ph/light/gift-light.svg';
import PhHouseLightIcon from 'src/assets/icons/ph/light/house-light.svg';
import PhMagnifyingGlassLightIcon from 'src/assets/icons/ph/light/magnifying-glass-light.svg';
import PhImageLightIcon from 'src/assets/icons/ph/light/image-light.svg';
import PhPhoneLightIcon from 'src/assets/icons/ph/light/phone-light.svg';
import PhPhoneFillIcon from 'src/assets/icons/ph/fill/phone-fill.svg';
import PhBarsLightIcon from 'src/assets/icons/ph/light/list-light.svg';
import PhHeartLightIcon from 'src/assets/icons/ph/light/heart-light.svg';
import PhXMarkLightIcon from 'src/assets/icons/ph/light/x-light.svg';
import PhCommentLightIcon from 'src/assets/icons/ph/light/chat-text-light.svg';
import PhTruckFastLightIcon from 'src/assets/icons/ph/light/truck-light.svg';
import PhFaceSmileLightIcon from 'src/assets/icons/ph/light/smiley-light.svg';
import PhBellLightIcon from 'src/assets/icons/ph/light/bell-light.svg';
import PhCalendarLightIcon from 'src/assets/icons/ph/light/calendar-light.svg';
import PhInfoFillIcon from 'src/assets/icons/ph/fill/info-fill.svg';
import PhFireLightIcon from 'src/assets/icons/ph/light/fire-light.svg';
import PhHandLightIcon from 'src/assets/icons/ph/light/hand-light.svg';
import PhLemonLightIcon from 'src/assets/icons/ph/light/orange-light.svg';
import PhTagLightIcon from 'src/assets/icons/ph/light/tag-light.svg';
import PhBookmarkLightIcon from 'src/assets/icons/ph/light/bookmark-simple-light.svg';
import PhFacebookLightIcon from 'src/assets/icons/ph/light/facebook-logo-light.svg';
import PhInstagramLightIcon from 'src/assets/icons/ph/light/instagram-logo-light.svg';
import PhYoutubeLightIcon from 'src/assets/icons/ph/light/youtube-logo-light.svg';
import PhGoogleLightIcon from 'src/assets/icons/ph/light/google-logo-light.svg';
import PhWhatsappLightIcon from 'src/assets/icons/ph/light/whatsapp-logo-light.svg';
import PhXLogoLightIcon from 'src/assets/icons/ph/light/x-logo-light.svg';
import PhAirplaneLightIcon from 'src/assets/icons/ph/light/airplane-light.svg';
import PhBikeLightIcon from 'src/assets/icons/ph/light/bicycle-light.svg';
import PhUsersLightIcon from 'src/assets/icons/ph/light/users-three-light.svg';
import PhMapLightIcon from 'src/assets/icons/ph/light/map-trifold-light.svg';
import PhClockLightIcon from 'src/assets/icons/ph/light/clock-light.svg';
import PhNavigationArrowFillIcon from 'src/assets/icons/ph/fill/navigation-arrow-fill.svg';
import PhNavigationArrowLightIcon from 'src/assets/icons/ph/light/navigation-arrow-light.svg';
import PhClockCountdownLight from 'src/assets/icons/ph/light/clock-countdown-light.svg';
import CircleFlagsPtIcon from 'src/assets/icons/circle-flags/pt.svg';
import CircleFlagsUsIcon from 'src/assets/icons/circle-flags/us.svg';

type Props = {
  icon: IconNames;
  className?: string;
  class?: string;
  title?: string;
  slot?: string;
};

const { icon, className, class: className2, title } = Astro.props;
const style = cn('h-6 w-6 fill-current', className, className2);

function getIconComponent(iconName: IconNames): any {
  switch (iconName) {
    // case 'Stripe':
    //   return (
    //     <FontAwesomeIcon icon={faStripe} className={style} />
    //   );
    // case 'Shopify':
    //   return (
    //     <FontAwesomeIcon icon={faShopify} className={style} />
    //   );
    // case 'Github':
    //   return (
    //     <FontAwesomeIcon icon={faGithub} className={style} />
    //   );
    // case 'Language':
    //   return PhLanguageLightIcon;
    // case 'WheatAwn':
    //   return PhWheatLightIcon;
    // case 'AppleWhole':
    //   return PhAppleLightIcon;
    // case 'BowlRice':
    //   return PhBowlRiceLightIcon;
    case 'logos:visa':
      return VisaLogo;
    case 'logos:mastercard':
      return MastercardLogo;
    case 'logos:amex':
      return AmexLogo;
    case 'logos:jcb':
      return JCBLogo;
    case 'ph:compass-fill':
      return PhCompassFillIcon;
    case 'ph:rss-light':
      return PhRssLightIcon;
    case 'ph:sun-light':
      return PhSunLightIcon;
    case 'ph:moon-light':
      return PhMoonLightIcon;
    case 'ph:star-fill':
      return PhStarFillIcon;
    case 'ph:star-light':
      return PhStarLightIcon;
    case 'ph:star-half-fill':
      return PhStarHalfFillIcon;
    case 'Envelope':
    case 'ph:envelope-simple-light':
      return PhEnvelopeSimpleLightIcon;
    case 'ph:navigation-arrow-fill':
      return PhNavigationArrowFillIcon;
    case 'ph:navigation-arrow-light':
      return PhNavigationArrowLightIcon;
    case 'ph:clock-countdown-light':
      return PhClockCountdownLight;
    case 'User':
    case 'ph:user-light':
      return PhUserLightIcon;
    case 'Bread':
      return PhBreadSliceLightIcon;
    case 'Mug':
      return PhMugLightIcon;
    case 'Egg':
      return PhEggLightIcon;
    case 'Utensils':
      return PhUtensilsLightIcon;
    case 'Carrot':
      return PhCarrotLightIcon;
    case 'Burger':
      return PhBurgerLightIcon;
    case 'Fish':
      return PhFishLightIcon;
    case 'Seedling':
      return PhSeedlingLightIcon;
    case 'PlateWheat':
      return PhPlateLightIcon;
    case 'PizzaSlice':
      return PhPizzaLightIcon;
    case 'PepperHot':
      return PhPepperLightIcon;
    case 'ChampagneGlasses':
      return PhChampagneLightIcon;
    case 'Check':
      return PhCheckLightIcon;
    case 'CircleCheck':
    case 'ph:check-circle-fill':
      return PhCheckCircleFillIcon;
    case 'ph:x-circle-fill':
      return PhXCircleFillIcon;
    case 'ArrowRight':
      return PhArrowRightLightIcon;
    case 'ArrowLeft':
      return PhArrowLeftLightIcon;
    case 'ArrowDown':
      return PhArrowDownLightIcon;
    case 'ArrowUp':
      return PhArrowUpLightIcon;
    case 'CaretLeft':
      return PhCaretLeftLightIcon;
    case 'CaretRight':
      return PhCaretRightLightIcon;
    case 'CaretDown':
      return PhCaretDownLightIcon;
    case 'CaretUp':
      return PhCaretUpLightIcon;
    case 'PaperPlane':
      return PhPaperPlaneLightIcon;
    case 'CartShopping':
      return PhCartShoppingLightIcon;
    case 'Shop':
      return PhShopLightIcon;
    case 'BagShopping':
      return PhBagShoppingLightIcon;
    case 'CreditCard':
      return PhCreditCardLightIcon;
    case 'Store':
      return PhStoreLightIcon;
    case 'ShopLock':
      return PhShopLockLightIcon;
    case 'Car':
      return PhCarLightIcon;
    case 'CircleHalfStroke':
      return PhCircleHalfFillIcon;
    case 'LocationDot':
      return PhLocationDotLightIcon;
    case 'LocationPin':
      return PhLocationPinLightIcon;
    case 'LocationCrosshairs':
      return PhLocationCrosshairsLightIcon;
    case 'Gift':
      return PhGiftLightIcon;
    case 'House':
      return PhHouseLightIcon;
    case 'MagnifyingGlass':
      return PhMagnifyingGlassLightIcon;
    case 'Image':
      return PhImageLightIcon;
    case 'Phone':
    case 'ph:phone-light':
      return PhPhoneLightIcon;
    case 'ph:phone-fill':
      return PhPhoneFillIcon;
    case 'Bars':
      return PhBarsLightIcon;
    case 'Heart':
      return PhHeartLightIcon;
    case 'Xmark':
      return PhXMarkLightIcon;
    case 'Comment':
      return PhCommentLightIcon;
    case 'TruckFast':
      return PhTruckFastLightIcon;
    case 'FaceSmile':
      return PhFaceSmileLightIcon;
    case 'Bell':
      return PhBellLightIcon;
    case 'CalendarDays':
      return PhCalendarLightIcon;
    case 'ph:info':
    case 'CircleInfo':
      return PhInfoFillIcon;
    case 'Fire':
      return PhFireLightIcon;
    case 'Hand':
      return PhHandLightIcon;
    case 'Lemon':
      return PhLemonLightIcon;
    case 'ph:tag-light':
      return PhTagLightIcon;
    case 'Bookmark':
    case 'ph:bookmark-simple-light':
      return PhBookmarkLightIcon;
    case 'Facebook':
    case 'ph:facebook-logo-light':
      return PhFacebookLightIcon;
    case 'Instagram':
    case 'ph:instagram-logo-light':
      return PhInstagramLightIcon;
    case 'Youtube':
    case 'ph:youtube-logo-light':
      return PhYoutubeLightIcon;
    case 'Google':
      return PhGoogleLightIcon;
    case 'ph:whatsapp-logo-light':
      return PhWhatsappLightIcon;
    case 'ph:x-logo-light':
      return PhXLogoLightIcon;
    case 'Tripadvisor':
    case 'fa:tripadvisor':
      return FaTripadvisor;
    case 'ph:airplane-light':
      return PhAirplaneLightIcon;
    case 'ph:person-simple-bike-light':
      return PhBikeLightIcon;
    case 'ph:users-three-light':
      return PhUsersLightIcon;
    case 'ph:map-trifold-light':
      return PhMapLightIcon;
    case 'ph:clock':
      return PhClockLightIcon;
    case 'ph:person-simple-walk-light':
      return PhPersonSimpleWalkLight;
    case 'circle-flags:pt':
      return CircleFlagsPtIcon;
    case 'circle-flags:us':
      return CircleFlagsUsIcon;
    default:
      return iconName;
  }
}

const IconComponent = getIconComponent(icon);
---

{
  IconComponent ? (
    <IconComponent class={style} title={title} />
  ) : (
    <div>{icon}</div>
  )
}
